# Basic Functions

In [26]:
import numpy as np
array1 = np.array([[1,2,3,4],[6.5,7,8,9]], dtype='int32')  # Here we are forcing it to take int32 so it converts 6.5 to 6
print(array1)

[[1 2 3 4]
 [6 7 8 9]]

In [27]:
print(type(array1))

<class 'numpy.ndarray'>

In [28]:
array1.shape # It shows 2-D array

(2, 4)

In [29]:
array1.dtype   # It gives data type and 32 is just in case

dtype('int32')

In [30]:
np.zeros(9) # It gives 1-D array with 9 zeros in it

array([0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [32]:
np.zeros((9,8))  # It gives 2-D array with 9 rows and 8 columns

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [33]:
np.ones(6) # It gives 1's

array([1., 1., 1., 1., 1., 1.])

In [35]:
array1

array([[1, 2, 3, 4],
       [6, 7, 8, 9]])

In [36]:
array1*array1  # It multiplies with itself

array([[ 1,  4,  9, 16],
       [36, 49, 64, 81]])

In [37]:
1/array1   # it divides each element with one

array([[1.        , 0.5       , 0.33333333, 0.25      ],
       [0.16666667, 0.14285714, 0.125     , 0.11111111]])

# Slicing

In [38]:
array2 = np.array([2,4,5,6,7,8,9,5,6,6,7,8,4,5,5,3,32,3,23,232,32,32,3])

In [39]:
array2[4:6]   # Prints the markdown like this

array([7, 8])

In [40]:
arr = array2[0:4]

In [41]:
arr

array([2, 4, 5, 6])

In [42]:
arr[0] = 9               # Due to pointers in c++ numpy changes the array2 also so to prevent this see below

In [43]:
array2

array([  9,   4,   5,   6,   7,   8,   9,   5,   6,   6,   7,   8,   4,
         5,   5,   3,  32,   3,  23, 232,  32,  32,   3])

In [44]:
array2 = np.array([2,4,5,6,7,8,9,5,6,6,7,8,4,5,5,3,32,3,23,232,32,32,3])

In [45]:
arr = array2[0:4].copy()
arr[0] = 9                              ## Now it will not change as it made a copy in arr[]..

In [46]:
array2

array([  2,   4,   5,   6,   7,   8,   9,   5,   6,   6,   7,   8,   4,
         5,   5,   3,  32,   3,  23, 232,  32,  32,   3])

In [49]:
array1[1,2]      # we can slice 2-D array like this

8