In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.DataFrame()    # It shows the data frame

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
df1 = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16],[17,18,19,20],[21,22,23,24]],columns=['a','b','c','d'])

In [6]:
df1

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

In [7]:
df1.head(3)   # Gives 3 output from the beginning

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [8]:
df1.tail(3)   # Gives 3 output from the end

    a   b   c   d
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

In [9]:
df1.shape   # Very important as it gives us the shape of the dataframe

(6, 4)

# Slicing

In [10]:
df1.iloc[1,3]   # To get the perticular value

8

In [11]:
df1.iloc[0:2,0:3]    # We can slice the data here

   a  b  c
0  1  2  3
1  5  6  7

# Reading Data

In [12]:
df3 = pd.read_csv('data.csv')   # As I have not have any csv in this directory

FileNotFoundError: [Errno 2] No such file or directory: 'data.csv'

# convert into a csv file

In [ ]:
df.to_csv('005.export.csv',index=False)   # TO make the index no index

In [ ]:
# GO to pd.merge and merge two files documentation